on:
  workflow_run:
    workflows: ["PR"]
    types: [completed]

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: "Request reviewer (test)"
        uses: actions/github-script@v3
        continue-on-error: true
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            console.log(github);
            console.log(context);
            console.log(context.payload.workflow_run.head_commit);
            console.log(context.payload.workflow_run.logs_url);
      - name: Author
        id: author
        run: |
          echo " github.event.workflow_run.logs_url: ${{ github.event.workflow_run.logs_url }}"
          curl -L --header "Authorization: token ${{secrets.GITHUB_TOKEN}}" ${{ github.event.workflow_run.logs_url }} -o /tmp/out.zip
          unzip /tmp/out.zip
          PR=$(cat test/*Operator*.txt | sed -r "s/\x1B\[([0-9]{1,3}(;[0-9]{1,2})?)?[mGK]//g" | grep OP_PR= | tail -n 1| cut -d '=' -f 2)
          echo "::set-output name=pr::${PR}"

      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.addLabels({
              issue_number: ${{ steps.author.outputs.pr }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['Triage']
            })
  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: "Request reviewer (test)"
        uses: actions/github-script@v3
        continue-on-error: true
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.pulls.requestReviewers({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              reviewers: [ "mvalahtv", "J0zi" ]
            });